@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
html, body {
  scroll-behavior: smooth; /* Let Lenis take over */
  overflow: auto;
}

body{
 @apply bg-zinc-900 text-zinc-50 
}
.section{
    @apply pt-10 lg:pt-22 flex justify-center  max-w-5xl mx-auto px-6
}
 .material-symbols-rounded {
    font-family: 'Material Symbols Rounded';
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    direction: ltr;

  }